#element-info-bar .element-item
{
  .expand-label { 
    font-weight: bold;     
    padding-right: 0;
  } 
  
  &.active 
  {
    .expand-label:after { content: attr(label-less) }

    .expand-label.transform-big {
      position: absolute;
      color: white;
      z-index: 2;   
      right: 0;
      width: auto;
      margin-right: 1.7rem;
      @include transition(all .4s);
      
      @media #{$small-only} {
        padding: .3rem 1.2rem;
        bottom: -1rem;
      }
      padding: 8px 25px;
      bottom: -15px;
      
      @extend .z-depth-1;

      &:hover { 
        color: white;
        box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 17px 0 rgba(0, 0, 0, 0.19) 
      }
    }
  }

  &:not(.active) 
  { 
    .expand-label:after { content: attr(label-more) }
    .expand-label, .expand-label:not(.transform-big) { background-color: transparent !important; }
  }
}