.collapsible-body
{
  .category-name
  {
    padding-top: 1rem;
  }

  .category-wrapper + .category-name  { padding-top: 1.2rem; }

  .row + .category-wrapper { .category-name { padding-top: .9rem; } }

  .category-wrapper
  {
    margin-top: 0 !important;

    a.option-url {
      color: inherit;
    }

    .strong { text-decoration: underline }

    &:not(:first-child) { margin-top: .5rem; }

    // a category inside an other, so we add margin
    .category-wrapper
    {
      margin-left: .5rem;
      .category-wrapper  { margin-left: 1.2rem; }

      padding-left: .5rem;
      border-left: 1px dotted #c3c3c3;

      h3.category-name {
        font-size: 90%;
        padding-bottom: .7rem;
        padding-top: .7rem;
        margin-bottom: 0;
      }

      // underline just first option in option Tree
      .strong { text-decoration: none !important }

      .option-value, .inline-container, h3.category-name { padding-left: .6rem; }
    }

    .option-name
    {
      &.main-option { font-weight : bold }
    }

    .inline-option
    {
      font-style: italic;
      span.disabled { color: #9C9C9C; }
    }

    .option-description
    {
      padding: .5rem;
      font-style: italic;
      font-size: .9rem;
      color: #5d5d5d;

      &.disabled { color: #9C9C9C; }
    }

    .option-value
    {
      line-height: 2.5rem;
      padding: 0;
      position-relative

      .icon
      {
        font-size: 1.2rem;
        &.disabled { color:#BFBFBF !important; }
      }
      .icon.fa, .icon.fab, .icon.fas, .icon.far { font-size: 1.1rem; padding-top: .8rem; }
      img.icon {
        height: 1.2rem;
        width: 1.2rem;
        padding-top: 0;
        margin-top: 10px;
        margin-right: .8rem;
      }
      &.disabled { color: #9C9C9C !important; }

      .gogo-icon-external-link {
        float: right;
        font-size: .8rem;
      }
    }
    .option-value.inline
    {
      display: inline-block;
      padding-left: 0;
      &:not(.last) { &:after { content: ","; margin-right: 5px; margin-left: -3px;} }
      .icon { display: none; }
    }
  }
}