.field {
  .field-label {
    font-weight: 600;
    display: inline;
  }
}

.field-textarea {
  line-height: 1.5rem;
  text-align: justify;
  div { white-space: pre-wrap; }
}

.show-more {
  display: inline;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

.field-email .send-mail-btn,
.field-area .area-btn {
  font-size: .8rem;
  margin: .4rem 0 .5rem 0;
  line-height: 1.8rem;
  height: 1.8rem;
}

.field-tags, .field-elements
{
  margin-top: .8rem;

  .gogo-tag, .gogo-element
  {
    margin-right: 8px;
    border-radius: 5px;
    background-color: gainsboro;
    padding: 0px 10px;
    display: inline-block;
    margin-bottom: 8px;
  }
  .gogo-element:hover {
    cursor: pointer;
    background-color: #dad9d9;
  }
}

.field-openhours {
  .day, .openHours { padding-left: 0; }
}

.field-vimeo {
  position: relative;
  padding-bottom: 65.25% !important;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-top: -1rem;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.field-updated-at {
  text-align: center;
  font-style: italic;
  opacity: .7;
  margin-top: 1.2rem;
  padding-bottom: .3rem;
}

.other-infos .field {
  margin-bottom: .5rem;
}

.glossary {
  cursor: help;
}

.field-area .gogo-area-item-container {
  margin: 0;
}
.field-area .gogo-area-item-data:not(.gogo-area-item-data__name) {
  display: none;
}

.field-list {
  ul {
    margin-top: 0;
    li {
      list-style: disc inside;
    }
  }
}
