.collapsible-body
{
  background-color: transparent;
  padding: 0;
  position: relative;
  border: none;

  .collapsible-body-main-content
  {
    padding: .8rem;
    line-height: 2rem;  

    @media #{$medium-and-up} { padding: 1rem; }    
  }

  .osm-url-container {
    padding: .5rem 1rem;
    text-align: center;
    margin-top: -1rem;
    width: calc(100% + 2rem);
    margin-left: -1rem;
  }
}
