{# -------------- #}
{#  BODY DEFAULT  #}
{# -------------- #}
{% if osm_url %}
<div class="osm-url-container gogo-section-contentBody">
    Voir sur <a href="{{ osm_url }}" target="_blank">OpenStreetMap</a></div>
</div>
{% endif %}

{{ descriptionMore|gogo_textarea(truncate = 400) }}

{% if address or telephone or email or website or urls %}
  {# Contact infos #}
  {{ 'general.infos'|i18n|gogo_title }}

  {# Address #}
  {{ address|gogo_text }}

  {# Tel #}
  {{ telephone|gogo_tel }}

  {# Mail #}
  {{ email|gogo_email }}

  {# WebSite #}
  {{ website|gogo_url }}

  {% if urls %}
    {% for currentUrl in urls %}
      {{ url.value|gogo_url }}
    {% endfor %}
  {% endif %}

  {{ ''|gogo_separator }}

{% endif %}

{# Categories  #}
{% if taxonomy|length %}
  {{ taxonomy|gogo_taxonomy }}
{% endif %}
{{ tags|gogo_tags}}

{# Open Hours #}
{% if formatedOpenHours|length or openHoursMoreInfos %}
  {{ ''|gogo_separator }}
  {{ "openhours"|i18n|gogo_title }}
  {{ formatedOpenHours|gogo_openhours }}
  {{ openHoursMoreInfos|gogo_text }}
{% endif %}

{# Vidéo #}
{% if vimeoId %}
  {{ ''|gogo_separator }}
  {{ 'video'|i18n|gogo_title }}
  {{ vimeoId|gogo_vimeo }}
{% endif %}

{% if customData|length %}
  {{ ''|gogo_separator }}
  <h3>{{ 'other.infos' | i18n }}</h3>
  <div class="other-infos">
    {% for value in customData %}
      {{ value|gogo_textarea }}
    {% endfor %}
  </div>
{% endif %}

{% if files|length %}
  {{ ''|gogo_separator }}
  <h3>{{ 'files' | i18n }}</h3>
  {{ files|gogo_files }}
{% endif %}

{% if updatedAt %}
  {{ ''|gogo_separator }}
  <div class="field-updated-at">{{ 'updated.at' | i18n }} : {{updatedAt|date}}</div>
{% endif %}



