@import 'marker';
@import "cluster";
@import "map-controls";
@import "info-bar";

#directory-content-map
{   
    position: relative;    
    z-index: 10;
    @include flex(1 auto);
    //@include transition(height .5s);
    @include box-shadow-1(inset 0px 5px 5px 0px rgba(119, 119, 119, 0.75)  );
}

.leaflet-container { font: inherit; }
