.gogo-theme-flat.gogocarto-container {

  .show-directory-menu-button .arrow-right {
    display: none;
  }

  .element-item .collapsible-body .category-wrapper .option-value {
    color: inherit;
  }

  .element-item .collapsible-header-more .inline-option-values {
    .icon { display: none; }
    .option-value
    {
      color: inherit;
    }
    .inline-option-value:not(:last-child) {
      &:after { content: ","; margin-right: 5px; }
    }
  }

  .subcategorie-option-item .icon { background-color: transparent; }

  // MENU
  #directory-menu, #element-info-bar.display-aside {
    box-shadow: 0 0 0 1px rgba(99,114,130,.16), 0 8px 16px rgba(27,39,51,.08);
  }
  .shadow-bottom {
    display: none !important;
  }
  @media (min-width: 850px) {
    .search-bar-container .search-bar {
      text-transform: none !important;
      font-size: .9rem !important;
    }
    #directory-menu #directory-menu-main-container .directory-menu-header {
      width: 100%;
      border-radius: 0;
    }
  }
  .show-directory-menu-button .arrow-right {
    display: none;
  }

  // MAP
  #map-gogo-controls .gogo-map-control {
    font-weight: 600;
    padding-right: 13px;
  }
  .leaflet-control-layers-base label { border: none; }
  .leaflet-control-layers-list {
    padding: 8px 0;
  }
  .leaflet-control-layers-base label:hover {
    background-color: rgba(123, 123, 123, 0.09);
  }
  .search-bar-container .search-bar {
    font-weight: 600;
    box-shadow: none !important;
  }

  // LIST
  #directory-content-list .collapsible.popout > li {
    margin-bottom: 4px;
    box-shadow: none;
    border-radius: 3px;
  }
  #directory-content-list .collapsible.popout > li .collapsible-header {
    border: none;
    border-radius: 3px;
    padding-bottom: 1px;
  }

  // ELEMENT
  @media (min-width: 850px) {
    .element-item .menu-element.full-text {
      padding: 0 0 6px 0;
    }
  }
  .element-item .menu-element.full-text .menu-element-item-text {
    text-transform: capitalize;
    font-weight: 600;
  }
  .element-item h3 {
    font-size: 1rem;
    text-transform: none;
  }
  #element-info-bar .element-item.active .expand-label.transform-big {
    box-shadow: none;
    border-radius: 5px;
  }
  .element-item .field b {
    font-weight: 600;
  }
  @media only screen and (min-width: 601px) {
    .gogo-load-css .gogocarto-container .element-item .menu-element .menu-element-item .menu-icon {
      font-size: 1.2rem;
    }
  }
  #directory-content-list .element-item .name {
    font-size: 1rem;
    .location { font-size: .95rem; }
    .location .postalCode { font-size: .85rem; }
  }
  .element-item .collapsible-header .collapsible-header-more .inline-option-values {
    font-style: normal;
    font-weight: normal;
  }
  .icon {
    font-size: 1.3rem;
  }
  .icon.fa, .icon.fab, .icon.fas, .icon.far {
    font-size: 1.2rem;
  }
}

// Reuse in GoGoCarto backend
.gogo-theme-flat {
  // MAP
  .leaflet-control-zoom.leaflet-bar.leaflet-control, .gogo-map-control,
  .feature-button, .leaflet-control-layers {
    box-shadow: 0 0 0 1px rgba(99,114,130,.16), 0 8px 16px rgba(27,39,51,0.04) !important;
    border: none !important;
  }

  // BUTTONS
  .btn, .btn-flat {
    box-shadow: none;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    letter-spacing: initial;
    text-transform: capitalize;
    padding: 0 1.5rem;
  }
  .btn:hover {
    box-shadow: none;
    opacity: .8;
  }

  // MODALS
  .modal {
    border-radius: 10px !important;
    box-shadow: none !important;
  }
  .modal .modal-footer .modal-action {
    color: inherit !important;
  }
  .modal .footer {
    margin-bottom: -1rem;
  }

  // SCROLL BAR
  .custom-scroll-bar::-webkit-scrollbar-track {
    border: none;
  }

  .custom-scroll-bar::-webkit-scrollbar {
    width: 8px !important;
  }

  .custom-scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 0;
    border: none;
  }
}