.element-item {
  .collapsible-header {
    .name { font-weight: 900; }
    .collapsible-header-more { line-height: 1.3rem; }
    .element-main-icon { display: none !important; }

    .collapsible-header-title .gogo-icon-close {
      &:before {
        border-radius: 3px;
        padding: 2px;
      }
    }
  }

  .menu-element-item-text {
    text-transform: uppercase;
    line-height: 3rem;
    margin-left: 10px;
    font-size: 12px;
  }
  @media (max-width: 460px) {
    .menu-element.full-text { padding: 0; }
    .menu-element-item {
       margin: 0 .5rem !important;
      .menu-element-item-text { font-size: 11px; margin-left: 5px;}
      .menu-icon { font-size: 16px; }
    }
  }

  .collapsible-body {

    .collapsible-body-main-content { padding: 0; padding-bottom: 1rem; }

    .info-bar-divider { display: none; }

    .field-textarea { line-height: 1.3rem; }
    .field {
      padding-left: 1.5rem;
      @media #{$small-only} { padding-left: .8rem; }
      padding-top: .8rem;
      padding-bottom: .8rem;
      padding-right: 1rem;
      line-height: 1.5rem;

      &.field-taxonomy {
        padding: 0;

        h3.category-name {
          margin-left: 0;
          margin-bottom: 0;
          padding-bottom: 1rem;
        }
      }

      &.field-textarea.first-element-of-body-content {
        padding-top: 1.3rem;
        padding-bottom: 0;
      }
    }

    .field + .field {
      padding-top: 0;
      margin-top: -.4rem;
    }

    h3 {
      font-weight: 900;
      padding-left: 1.5rem;
      @media #{$small-only} { padding-left: .8rem; }

      &.first-element-of-body-content { padding-top: 1.2rem; }
    }

    p {
      padding-left: 1.5rem;
      padding-right: 1rem;
      line-height: 2rem;
    }

    .other-infos .field {
      margin-bottom: .4rem;
    }

    .category-wrapper {

      .option-value {
        margin-bottom: 0;
        border-left: 10px solid;
        padding-left: 1rem;
        line-height: 2.5rem;

        .option-name { 
          line-height: 2.5rem;
          flex-grow: 1;
        }
        .icon:not(.gogo-icon-external-link)  {
          margin-right: 10px;
          font-size: .9rem;
        }

        &.inline:not(.first) {
          border: none;
          padding-left: 0;
        }
      }

      .option-description {
        font-size: .8rem;
        padding: 3px .5rem;
        line-height: 1.7;
      }
      .row {
        &:last-child {
          .option-value, .option-description { min-height: 1.8rem; }
        }
      }
    }

    .category-wrapper .category-wrapper {
      border: none;
      margin-left: 0;
      padding-left: 0;
      .category-name {
        padding-left: 1.5rem;
        padding-bottom: .5rem !important;
      }
      .option-value {
        padding-left: .9rem;
        margin-top: 0;
        line-height: 1.5rem;
        .option-name {
          color: inherit;
          margin-left: 4px;
          line-height: 1.5rem;
          &:before {
            content: "➡";
            font-size: 1.2rem;
            margin-right: 6px;
          }
        }
        .icon:not(.gogo-icon-external-link) {
          display: none;
        }
      }
    }

    .category-wrapper .category-wrapper .category-wrapper {
      margin-left: 0;
      .option-name {
        margin-left: 15px;
      }
    }

    .field-openhours {
      .day:after {
        content: "➡";
        font-size: 1.2rem;
        margin: 0 8px 0 10px;
        float: right;
      }
    }

    .field-tags {

      margin-top: 1rem !important;
      margin-bottom: -10px;
      text-align: center;

      .gogo-tag {
        border-radius: 0;
        padding: 4px 14px;
      }
    }
  }
  .menu-element {
    .menu-element-item {
      font-weight: bold;

      .menu-icon.gogo-icon-star-full {
        color: white;
        &:before { background-color: #f09b00; }
      }
    }
  }

  .inline-option-values {
    width: calc(100% - 140px);
    font-weight: normal;

    .inline-option-value {

      margin-right: 20px;
      display: inline-block;
      @media #{$medium-and-up} {
        .icon {
          margin-right: 5px;
          font-size: .9rem;
          padding-top: .6rem;
          background-color: transparent;
          &.disabled { color: #bbbbbb; }
        }
        .option-value {
          line-height: 2rem;
          font-style: normal;
          font-weight: normal;

          &.same-icon-as-last-item {
            margin-left: -17px;
            &:before {
              content: "+";
              margin-right: 5px;
            }
          }
        }
      }

      @media #{$small-only} {
        &[main-category-owner-name="Sources"] { display: none; }
        .option-value { display: none; }
        .icon {
          color: white;
          border-radius: 50%;
          line-height: 10px;
          font-size: .9rem;
          padding: 10px 9px;
          margin-right: 5px;

          &.disabled {
            color: #aba8a8;
            background-color: #eaeaea;
          }
        }
        margin-right: 0;
      }
    }
  }

  .collapsible-header .custom-header { margin-bottom: .8rem; }

  .expand-label {
    width: auto;
    float: right;
    border: 2px solid;
    padding: 8px 15px !important;
    text-align: center;
    border-radius: 20px;
    margin-top: -3px;
    margin-right: -.5rem;
    &:before {
      margin-right: 8px;
      border-radius: 50%;
      padding: 0 4px;
    }
  }
  &.active .expand-label:before {
    content: "-";
    padding: 0 6px;
    padding-bottom: 1px;
    font-weight: 900;
    font-size: 16px;
  }
  &:not(.active) .expand-label:before { content: "+" }
}

#element-info-bar.display-aside .element-item .collapsible-header
{
  padding: .5rem 0;
  padding-left: .5rem;
  .collapsible-header-title {
    padding-bottom: 1rem;

    .gogo-icon-close {
      font-size: .8rem;
    }
  }

  .name {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

#element-info-bar.display-bottom {
  .gogo-icon-close { font-size: .9rem; }
  .collapsible-header .name { font-size: 15px; }

  .element-item.active {
    .collapsible-header-title {
      @media (min-width:850px) { padding-left: 2rem; }
      padding-top: 1.2rem;
      padding-bottom: 1rem;
    }
  }

  @media #{$small-only} {
    .element-item .expand-label {
      margin-right: 10px;
      font-size: 13px;
      font-weight: 900;
      padding: 8px 10px !important;
    }
  }
  .element-item.active {
    .expand-label.transform-big {
      @media #{$small-only} { padding: 8px 10px !important; }
    }

    .collapsible-header { padding-bottom: .4rem; }
    .inline-option-values { display: none; }
  }
}