.marker-popup { opacity: 1; }

.marker-cluster 
{
  div { font-size: 15px; }

  &.marker-cluster-small div { background-color: #f8ab00; }
  &.marker-cluster-medium div { background-color: #f78b16; }
  &.marker-cluster-large div { background-color: #f5701e; }

  // we increase font-size, no we need to display bigger cluster for bug numbers
  &.marker-cluster-large.xl div
  {
    $size: 54px;
    width: $size;
    height: $size;   
    span { line-height: $size; }  
  }
}

.marker-wrapper .marker-mini-icon-container { 
  color: white; 
  .marker-mini-icon:before { background-color: #f09b00; }
}

