.sub-categories
{
  border-left: none;

  .sub-categorie-main-title {
    height: 2.5rem;
  }
  
  .sub-categories-content {

    ul { padding-right: 10px; padding-left: 5px; }

    .subcategorie-option-item {

      margin-bottom: 3px;
      padding-left: 0;
      line-height: 2.5rem;
      height: 2.5rem;

      &.expanded {
        margin-bottom: 0;
      }

      &.disabled {
        .icon {
          background-color: transparent;
          opacity: 1;
        }
      }

      .option-name {
        font-weight: 500;
        font-size: 13px;
        padding-left: .6rem;
        @include transition(color .1s);
      }

      .checkbox-wrapper { display: none; }

      

      .elements-by-category-count {
        position: initial;
        margin-left: 10px;
      }

      &.expanded .option-name
      {
        &:hover .arrow-after { margin-bottom: -3px; }
        .arrow-after { margin-bottom: -3px; }
      }

      .icon {
        padding-top: .2rem;
        font-size: 17px;
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 0;
        @include transition(color .3s);

        &.fa.fa-recycle, &.fa.fa-link { padding-top: .8rem;}
      }
      img.icon { padding: 7px; }
      .icon.fa, .icon.fab, .icon.fas, .icon.far  { padding-top: .7rem; }

      &:not(.expanded) .option-name .arrow-after { opacity: 1; }
      &.expanded       .option-name .arrow-after { opacity: 1; top: .9rem; }
    }

    .subcategory-item {
      .name-wrapper  { 
        margin-left: 2.5rem; 
        margin-right: 0; 
        font-weight: 900; 
      }
      .checkbox-wrapper {
        left: -2px;
        top: 0;
        right: initial;

        [type="checkbox"].filled-in + label:after {
          background-color: transparent;
          border: none;
          @include transition(none);
        }
        [type="checkbox"].filled-in + label:before {
          top: 7px;
          width: 9px;
          height: 15px;
        }
        [type="checkbox"].filled-in:not(:checked) + label:before {
          @include transition(none);
        }
      }
    }

    // subcategories
    .category-wrapper .subcategories-wrapper:not(.no-withdrawal) {
      margin-left: 0 !important;
      margin-bottom: 6px;
      border: none;

      .subcategory-item {
        line-height: 3rem;
        .name-wrapper {
          font-size: .8rem;
          margin-left: 2.4rem;
          
        }
        .checkbox-wrapper {
          left: -4px;
          top: 7px;
          transform: scale(.9);
        }
      }

      .subcategorie-option-item {
        margin-bottom: 0;

        .option-name { font-size: .8rem; }

        .icon {
          font-size: .85rem;
        }
        img.icon {
          padding: 12px;
        }
        .icon.fa, .icon.fab, .icon.fas, .icon.far { padding-top: .9rem; }
      }
    }

    // .subcategory-item:not(.expanded) > .name-wrapper > .arrow-after {
    //   top: 1.4rem;
    // }
    .subcategory-item .arrow-after {
      display: none;
    }
    .arrow-after {
      position: absolute;
      right: 1rem;
      top: 1.2rem;
      border-radius: 1px;
    }

    .option-name:hover .arrow-after
    {
      margin-right: -1px;
      margin-top: -1px;
    }

    .show-only-container .subcategorie-option-item {
      .icon {
        padding-top: 3px;
        padding-left: 10px;
        background-color: transparent;
      }
    }

    .show-only-title {
      padding: 0;
      margin-left: 1rem;
      border: none;
      .name-wrapper { margin-left: 0; }
    }
  }
}