#directory-menu-main-container 
{
  .shadow-bottom { border-top: none; width: calc(100% - 15px); }  

  .directory-menu-header 
  {
    @media (min-width: 850px) { 
      width: calc(100% + 15px); 
      border-radius: 0 8px 8px 0;
    }     

    @import 'menu-header';
  }

  @import 'menu-filters';
}