.search-bar-with-options-container
{
  .search-bar-container
  {
    padding-left: .5rem;
    padding-right: .9rem;

    .search-icon
    {
      font-size: 1.1rem;
      height: 2.5rem;
      line-height: 2.5rem;

      &:before { line-height: 2.5rem; }
      &.search-bar-icon { left: 1.4rem; }
      &.search-geolocalize { right: 2.3rem; }
    }

    .search-bar
    {
      border-radius: 0;
      height: 2.5rem;
      padding: 3px 3rem 0 3rem;
    }

    #search-spinner-loader
    {
      top: 10px;
    }
  }
}
