.cluster
{
	z-index: 2;
}

.icon
{
	font-size: 1.4rem;
  padding-top: 3px;
  @media #{$small-only} { padding-top: 2px; }
  float: left;
  margin-right: 1rem;
}

.icon.disabled
{
	color: #DFDFDF;
}

#directory-menu .main-categories {
  .icon.main-icon.fa, .icon.main-icon.fas, .icon.main-icon.fab, .icon.main-icon.far
  {
    font-size: 1.2rem;
    &:before { position: relative; left: 0; top: 0; }
  }
}

.icon.fa, .icon.fab, .icon.fas, .icon.far
{
  padding-top: .5rem;
  font-size: 1.3rem;
}

.element-main-icon.icon.fa, .element-main-icon.icon.fas, .element-main-icon.icon.fab, .element-main-icon.icon.far
{
  padding-top: 4px;
}

.marker-icon.fa, .marker-icon.fas, .marker-icon.fab, .marker-icon.far
{
  padding-top: 0;
}

.filter-menu .icon.fa, .filter-menu .icon.fas, .filter-menu .icon.fab, .filter-menu .icon.far
{
  padding-top: .7rem;
  width: 1.5rem;  
  font-size: 1.2rem;
}
.filter-menu .icon { text-align: center; }

.refresh-needed-icon {
  text-align: center;
  margin: 30px 80px 0 80px;
  color: $secondary-color;
}
.refresh-needed-icon.much {
  color: $error-color;
}
.refresh-needed-icon i {
  font-size: 18px;
  margin-right: 4px;
}
.refresh-needed-icon .refresh-needed-text {
  font-size: 15px;
}
