<style>
  {# FONTS #}
  .gogo-load-css { font-family: {{ mainFont }}, sans-serif; }
  .gogo-load-css h1,
  .gogo-load-css .gogo-font-title,
  .gogo-load-css .sub-categorie-main-title
  { font-family: {{ titleFont }}, sans-serif;}

  {# FORM  #}
  .gogo-load-css [type="checkbox"] + label { color: {{ textSoft }}; }

  {# LINK #}
  .gogo-load-css a { color: {{ primary }}; }

  {# BUTTON #}
  .gogo-load-css .btn { color: #fff; background-color: {{ primary }}; }
  .gogo-load-css .btn:hover { background-color: {{ primary }}; }
  .gogo-load-css .btn:focus { background-color: {{ primary }}; }

  {# MARKERS #}
  .gogo-load-css .marker-cluster div {
    font-family: {{ mainFont }}, sans-serif;
  }
  .gogo-load-css .marker-location-position.leaflet-marker-icon {
    box-shadow: {{ primary }} 0px 0px 4px 1px;
    background-color: {{ primary }};
  }

  {# TOOLTIPS #}
  .backdrop, .material-tooltip, .toast, .main-option-tooltip {
    background-color: {{ textDark if text.isDark() else contentBgd }};
    color: white;
    border-color: {{ textDark if text.isDark() else contentBgd }};
    font-family: {{ mainFont }}, sans-serif;
  }

  {# SCROLLBAR #}
  .custom-scroll-bar::-webkit-scrollbar {
      width: 12px;
  }
  .custom-scroll-bar::-webkit-scrollbar-thumb {
      border-radius: 10px;
      border: 3px solid {{ background }};
      background-color: {{ textSoft }};
      min-height: 50px;
  }
  .custom-scroll-bar::-webkit-scrollbar-track {
    background-color: {{ background }};
    border: 1px solid {{ background.darken(5) }};
  }
  {% set background = background.lighten(5) %} /* restore color */

  {# SLIDER #}
  .gogo-load-css .noUi-connect {
    background-color: {{ primary }};
    opacity: .5;
  }
  .gogo-load-css .noUi-tooltip:not(.gogo-section-content-opposite) {
    color: {{ primary }};
  }

  {# DATEPICKER #}
  .gogo-load-css .gogocarto-container .gogo-date-filter .view-selection .view-type.active {
    background-color: {{ primary }};
    color: {{ tinycolor.mostReadable(primary, [textDark, textLight]) }};
  }

  .gogo-load-css input {
    border-bottom: 1px solid {{ textSoft }} !important;
  }
  .gogo-load-css input:focus { box-shadow: 0 1px 0 0 {{ textSoft }} !important; }

  .dropdown-menu {
    color: {{ text }};
  }
</style>