<style>
  {% set textHoverColor = tinycolor.mostReadable(config.colors.textColor, [textLightSoft, textDarkSoft]) %}
  .gogo-load-css .leaflet-control-layers-base label:hover { background-color: {{ textHoverColor }}; }

  .gogo-load-css .show-as-list-button {
    color: {{ config.colors.mapListBtn }};
  }

</style>