/*
* @Author: Sebastian Castro
* @Date:   2017-12-26 08:55:41
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2018-01-10 15:40:45
*/

// search bar is moved on top of map for mobiles

#search-overlay-mobile .search-bar-with-options-container.mobile
{
  display: none;
  z-index: 10;
  position: relative;
  margin: 15px;
  border-radius: 3px;
  padding-bottom: 0;
  padding: 0;
  @include box-shadow-1(0 2px 6px rgba(0,0,0,0.3));

  .search-bar-container {
    height: 52px;
    padding: 0;
  }

  .search-bar {
    height: 100%;
    padding: 0 4rem;
  }

  .search-icon {
    font-size: 22px;
    line-height: 57px;
    height: 56px;
    width: 56px;

    &.search-bar-icon { left: -2px; }

    &.search-geolocalize {
      right: 0px;
      font-size: 24px !important;
    }
  }

  .search-bar-icon { left: 3px; }

  .search-geolocalize {
    right: 5px;
    font-size: 24px !important;
  }

  #search-spinner-loader {
    margin-left: 5px;
    top: 17px;
    left: 12px;
  }

  .search-no-result
  {
    color: inherit;
    font-size: 13px;
    padding-top: 1rem;
  }
}
