@charset "UTF-8";

@font-face {
  font-family: "gogocarto";
  src:url("fonts/gogocarto.eot");
  src:url("fonts/gogocarto.eot?#iefix") format("embedded-opentype"),
    url("fonts/gogocarto.woff") format("woff"),
    url("fonts/gogocarto.ttf") format("truetype"),
    url("fonts/gogocarto.svg#gogocarto") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gogocarto" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="gogo-icon-"]:before,
[class*=" gogo-icon-"]:before {
  font-family: "gogocarto" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gogo-icon-account-circle:before {
  content: "\62";
}
.gogo-icon-delete:before {
  content: "\63";
}
.gogo-icon-description:before {
  content: "\64";
}
.gogo-icon-star-full:before {
  content: "\65";
}
.gogo-icon-icon-copy-hours:before {
  content: "\66";
}
.gogo-icon-starcircle:before {
  content: "\67";
}
.gogo-icon-no-eye:before {
  content: "\68";
}
.gogo-icon-eye:before {
  content: "\69";
}
.gogo-icon-attention:before {
  content: "\6a";
}
.gogo-icon-mail:before {
  content: "\6b";
}
.gogo-icon-marker-symbol:before {
  content: "\6c";
}
.gogo-icon-phone:before {
  content: "\6d";
}
.gogo-icon-add-circle:before {
  content: "\6e";
}
.gogo-icon-plus-circle-1:before {
  content: "\6f";
}
.gogo-icon-clear:before {
  content: "\70";
}
.gogo-icon-redo:before {
  content: "\71";
}
.gogo-icon-day:before {
  content: "\72";
}
.gogo-icon-exclamation-1:before {
  content: "\73";
}
.gogo-icon-edit:before {
  content: "\74";
}
.gogo-icon-menu:before {
  content: "\75";
}
.gogo-icon-directions:before {
  content: "\77";
}
.gogo-icon-layers:before {
  content: "\78";
}
.gogo-icon-locate:before {
  content: "\7a";
}
.gogo-icon-material-design-icons-1:before {
  content: "\41";
}
.gogo-icon-people:before {
  content: "\42";
}
.gogo-icon-add-element:before {
  content: "\43";
}
.gogo-icon-internet:before {
  content: "\44";
}
.gogo-icon-star-empty:before {
  content: "\45";
}
.gogo-icon-share-alt:before {
  content: "\46";
}
.gogo-icon-expand:before {
  content: "\47";
}
.gogo-icon-angle-right:before {
  content: "\48";
}
.gogo-icon-arrow-circle-down:before {
  content: "\49";
}
.gogo-icon-facebook:before {
  content: "\4a";
}
.gogo-icon-external-link:before {
  content: "\4b";
}
.gogo-icon-gplus:before {
  content: "\4c";
}
.gogo-icon-home:before {
  content: "\4d";
}
.gogo-icon-info:before {
  content: "\4e";
}
.gogo-icon-list:before {
  content: "\4f";
}
.gogo-icon-lock:before {
  content: "\50";
}
.gogo-icon-plus-circle:before {
  content: "\51";
}
.gogo-icon-search:before {
  content: "\52";
}
.gogo-icon-close:before {
  content: "\53";
}
.gogo-icon-user-plus:before {
  content: "\54";
}
.gogo-icon-users:before {
  content: "\55";
}
.gogo-icon-unlock:before {
  content: "\56";
}
.gogo-icon-yahoo:before {
  content: "\57";
}
.gogo-icon-twitter:before {
  content: "\58";
}
.gogo-icon-partner-3:before {
  content: "\59";
}
.gogo-icon-map:before {
  content: "\5a";
}
.gogo-icon-ellipsis:before {
  content: "\30";
}
.gogo-icon-moderation:before {
  content: "\79";
}
.gogo-icon-filters-1:before {
  content: "\37";
}
.gogo-icon-vote:before {
  content: "\76";
}
.gogo-icon-marker-simple-1:before {
  content: "\31";
}
.gogo-icon-marker-simple:before {
  content: "\32";
}
.gogo-icon-stamp-1:before {
  content: "\36";
}
.gogo-icon-stamp-2:before {
  content: "\38";
}
.gogo-icon-communs:before {
  content: "\34";
}
.gogo-icon-printemps:before {
  content: "\33";
}
.gogo-icon-chevron-left:before {
  content: "\35";
}
.gogo-icon-chevron-right:before {
  content: "\39";
}
.gogo-icon-date:before {
  content: "\21";
}
.gogo-icon-number:before {
  content: "\22";
}
.gogo-icon-recycle:before {
  content: "\23";
}
.gogo-icon-download-1:before {
  content: "\24";
}
.gogo-icon-upload:before {
  content: "\25";
}
.gogo-icon-images:before {
  content: "\26";
}
.gogo-icon-add-file:before {
  content: "\27";
}
.gogo-icon-search-file:before {
  content: "\28";
}
.gogo-icon-image:before {
  content: "\29";
}
.gogo-icon-images-1:before {
  content: "\2a";
}
.gogo-icon-image-1:before {
  content: "\2b";
}
.gogo-icon-upload-1:before {
  content: "\2c";
}
.gogo-icon-upload-2:before {
  content: "\2d";
}
.gogo-icon-download:before {
  content: "\2e";
}
.gogo-icon-image-2:before {
  content: "\2f";
}
.gogo-icon-database:before {
  content: "\3a";
}
.gogo-icon-marker:before {
  content: "\61";
}
.gogo-icon-rss:before {
  content: "\e003";
}
