.modal {
  @extend .z-depth-4;

  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;

  border-radius: 2px;
  will-change: top, opacity;

  @media #{$medium-and-down} {
   width: 80%;
  }

  @media #{$small-only}
  {
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0 !important;
  }

  h1,h2,h3,h4,h5 {
    margin-top: 0;
  }

  h5
  {
    margin-bottom : 1.5rem;
  }

  .footer
  {
    margin-top: 1rem;
    text-align: right;
  }
  .modal-content {

    padding: 24px;
    @media #{$medium-and-up} {
     padding: 40px;
    }
  }
  .modal-close {
    cursor: pointer;
    color: white;
  }

  .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;

    .btn, .btn-flat {
      float: right;
      margin: 6px 0;
    }
  }
}

#modal-share-element {
  .modal-more-info.error {
    color: $error-color;
  }
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    .btn, .btn-flat {
      float: none;
      margin: 6px 0 6px 6px;
      color: white !important;
    }
  }
}

// Modal with fixed action footer
.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;

  .modal-content {
    position: absolute;
    height: calc(100% - 58px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  .modal-footer {
    border-top: 1px solid rgba(0,0,0,.1);
    position: absolute;
    bottom: 0;
  }
}

// Modal Bottom Sheet Style
.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}
