{% if value and value|length > 0 %}
  <div class="field field-elements">
    {% if label %}<span class="field-label">{{ label|safe }}</span>{% endif %}
    {# Value should follow this type { "4": "Example 1", "5": "Example 2" } #}
    {% for id, name in value %}
      <div class="gogo-element" data-target="{{ id }}">{{ name }}</div>
    {% endfor %}
  </div>
{% endif %}