{% if value %}
  <div class="field field-tags tags-container">
    {% if label %}<span class="field-label">{{ label|safe }}</span>{% endif %}
    {% if value is iterable and value is not string %}
      {% for tag in value %}
        <span class="gogo-tag">{{ tag|trim|capitalize }}</span>  
      {% endfor %}
    {% else %}
      <span class="gogo-tag">{{ value|trim|capitalize }}</span>  
    {% endif %}
  </div>
{% endif %}