<div class="field field-taxonomy">
  {% import 'components/element/category-value.html.njk' as categoryRenderer %}
  {% if value|is_array %}
    {% for mainCategoryValue in value %}
      {{ categoryRenderer.renderCategoryValue(mainCategoryValue) }}
    {% endfor %}
  {% else %}
    {{ categoryRenderer.renderCategoryValue(value) }}
  {% endif %}
</div>