{% if value %}
<div class="field field-openhours">  

  {% if display_closed_days %}
    {% for day_of_week in config.i18n[config.language]['open_hours.days_of_week'] %} 
      <div class="row">
        <span class="col s3 day">{{ day_of_week|capitalize }}</span>
        <span class="col s9 openHours">{{ value[day_of_week] if value[day_of_week] else 'open_hours.closed'|i18n }}</span>
      </div>
    {% endfor %}
  {% else %}
    {% for key, horaire in value %}
      {% if horaire != null %}
        <div class="row">
          <span class="col s3 day">{{ key|capitalize }}</span>
          <span class="col s9 openHours">{{ horaire }} </span>
        </div>
      {% endif %}
    {% endfor %}   
  {% endif %}

</div>
{% endif %}