{% if value and value|length > 0 %}

  <div class="field field-area field-area-{{ uniqId }}">
    {% if label %}<span class="field-label">{{ label|safe }}</span>{% endif %}
    <ul class="gogo-area-item-container">
      {% for key, row in value %}
        <li class="gogo-area-item" data-osm-id="{{ key }}">
          <div class="gogo-area-item-data gogo-area-item-data__name">{{ row.name }}</div>
          <div class="gogo-area-item-data gogo-area-item-data__county">{{ row.county }}</div>
          <div class="gogo-area-item-data gogo-area-item-data__state">{{ row.state }}</div>
          <div class="gogo-area-item-data gogo-area-item-data__country">{{ row.country }}</div>
        </li>
      {% endfor %}
    </ul>
    <button class="btn area-btn area-btn-{{ uniqId }}">{{ 'show.on.map' |i18n }}</button>
  </div>

  <script>
    $(document).ready(function(){
      let areaPolygons_{{ uniqId }} = [];
      $(".area-btn-{{ uniqId }}").click(function(e) {
        e.preventDefault();
        let areaPolygons = areaPolygons_{{ uniqId }};
        areaPolygons = areaPolygons.map(areaPolygon => {
          return {
            bounds: areaPolygon.boundingbox,
            shape: areaPolygon.geojson
          }
        })
        carto.app.searchBarComponent.showGeocodedFromArea(areaPolygons);
      })
      const areaItems = $(".field-area-{{ uniqId }} .gogo-area-item-container .gogo-area-item");
      const osmIds = areaItems.map(function() {
          return "R" + $(this).attr("data-osm-id");
      }).get();
      const url = new URL("https://nominatim.openstreetmap.org/lookup");
      const params = {
        format: "json",
        osm_ids: osmIds.join(","),
        polygon_geojson: 1,
        polygon_threshold: 0.0001
      };
      url.search = new URLSearchParams(params).toString();
      fetch(url)
        .then(response => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then(data => {
          areaPolygons_{{ uniqId }} = areaPolygons_{{ uniqId }}.concat(data);
        })
        .catch(error => {
          console.error("Fetch error:", error);
        });
    })
  </script>
{% endif %}