{% if value %}
  <div class="field field-list list-container">
    {% if label %}<span class="field-label">{{ label|safe }}</span>{% endif %}
    <ul class="gogo-list-container">
    {% if value is iterable and value is not string %}
      {% for tag in value %}
        <li class="gogo-list-item">{{ tag|trim|capitalize }}</li>  
      {% endfor %}
    {% else %}
      <li class="gogo-list-item">{{ value|trim|capitalize }}</li>  
    {% endif %}
    </ul>
  </div>
{% endif %}