<div id="directory-loading" style="display:none">
  {{ 'loading' | i18n }}
</div>

<div id="map-gogo-controls">
  {% include 'components/buttons/show-directory-menu-button.html.njk' %}

  {% if config.isFeatureAvailable('listMode') %}
    <div class="show-as-list-button gogo-map-control gogo-section-controls">
      <i class="gogo-icon-list"></i>
      <span class="button-text">{{ 'show.as.list' | i18n }}
    </div>
  {% endif %}
</div>

<div id="map-features-buttons">
  {% if config.isFeatureAvailable('layers') %}
    <div id="change-layers" class="feature-button gogo-section-controls leaflet-bar" data-tooltip="{{ 'change.tiles' | i18n }}" data-position="left" data-delay="300">
      <i class="gogo-icon-layers gogo-color-link"></i>
    </div>
    <div id="close-layers-panel" class="feature-button" style="display:none"><i class="gogo-icon-close"></i></div>
  {% endif %}

  {% if config.isFeatureAvailable('export') %}
    <div id="export-iframe-btn" class="feature-button gogo-section-controls leaflet-bar" data-tooltip="{{ 'export.iframe' | i18n }}" data-position="left" data-delay="300">
      <i class="gogo-icon-share-alt gogo-color-link"></i>
    </div>
  {% endif %}

  {% if config.isFeatureAvailable('mapdefaultview') %}
    <div id="map-default-view-btn" class="feature-button gogo-section-controls leaflet-bar" data-tooltip="{{ 'back.to.default.view' | i18n }}" data-position="left" data-delay="300">
      <i class="gogo-icon-map gogo-color-link"></i>
    </div>
  {% endif %}

  {#<div id="geolocalize-btn" class="feature-button leaflet-bar" data-tooltip="{{ 'geolocalize' | i18n }}" data-position="left" data-delay="300">
      <i class="gogo-icon-locate"></i>
  </div> #}

</div>