{% macro markerShape(markerShape, class, colorOptionId) %}

  {% if markerShape.class is defined %}
    <div class="{{ class }} {{ markerShape.class }}" option-id="{{ colorOptionId }}"></div>
  {% elif markerShape.url is defined %}
    <img class="{{ class }} {{ markerShape.url|file_extension }}" src="{{ markerShape.url }}" option-id="{{ colorOptionId }}"/>
  {% else %}
    {# default marker #}
    <div class="{{ class }} gogo-icon-marker" option-id="{{ colorOptionId }}"></div>
  {% endif %}

{% endmacro %}

{% macro icon(icon, class, colorOptionId = '') %}

  {% if icon|is_image_url %}
    <img class="{{ class }} {{ icon|file_extension }}" src="{{ icon }}" option-id="{{ colorOptionId }}"/>
  {% else %}
    <div class="{{ class }} {{ icon }}" option-id="{{ colorOptionId }}"></div>    
  {% endif %}

{% endmacro %}