---
---

/* Styles applied to documentation website, it's not related to gogocarto library */
@import 'jekyll-theme-cayman';

.menu-list
{
  width: 15rem;
  position: absolute;
  padding: 2rem;
  padding-top: 1.3rem;

  ul {
    padding-left: 0rem;
  }

  li {
    list-style-type: none;
  }
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 2rem 6rem;
  }
}


.main-content {
  margin-left: 15rem;
  padding-right: 2rem;
  @media screen and (max-width: 1300px) {
    padding-left: 2rem;
  }
}



