<style>
  .gogo-load-css .custom-scroll-bar::-webkit-scrollbar-thumb { background-color: {{ contentBgd }}; }

  {# ELEMENT #}

  .gogo-load-css .gogo-theme-transiscope .element-item .collapsible-header { background-color: {{ text }}; }
  .gogo-load-css .gogo-theme-transiscope .element-item .collapsible-header-title .gogo-icon-close:before {
    background-color: {{ primary }};
    color: {{ textLight }};
  }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body p { background-color: {{ contentBgd }}; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .field { background-color: {{ contentBgd }}; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .field-taxonomy > .category-wrapper > .category-name { background-color: {{ contentBackgroundElementBody }}; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .field-taxonomy h3.category-name { color: {{ secondary }}; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .field-taxonomy h3.category-name:first-child { color: {{ primary }}; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .field-textarea.first-element-of-body-content { background-color: {{ contentBackgroundElementBody }}; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .category-wrapper .option-value .option-name { color: {{ text }}; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .category-wrapper .option-description span { color: {{ text }}; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .field-openhours .day:after { color: {{ primary }}; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .field-vimeo { background-color: {{ background }} !important; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .field-tags { background-color: {{ background }} !important; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .field-tags .gogo-tag { color: {{ primary }}; background-color: {{ contentBgd }}; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .menu-element { background-color: {{ primary }}; }
  .gogo-load-css .gogo-theme-transiscope .collapsible-body .menu-element .menu-element-item { color: {{ textSoft }}; }
  .gogo-load-css .gogo-theme-transiscope .element-item .expand-label { color: {{ secondary }}; }
  .gogo-load-css .gogo-theme-transiscope .element-item .expand-label:before { background-color: {{ secondary }}; color: {{ textLight }}; }
  .gogo-load-css .element-item .info-bar-tabs { background-color: {{ primary }}; }
  {# INFOBAR #}

  .gogo-load-css #element-info-bar.display-aside .element-item .collapsible-header .gogo-icon-close:before {
    background-color: {{ primary }};
    color: {{ text }};
  }
  .gogo-load-css #element-info-bar.display-bottom .element-item.active .expand-label.transform-big { background-color: {{ contentBgd }}; color: {{ secondary }}; }
  .gogo-load-css #element-info-bar.display-bottom .element-item.active .expand-label.transform-big:hover { color: {{ secondary }}; }

  {# LIST #}

  .gogo-load-css #directory-content-list .element-list-header .show-as-map-button { background-color: {{ secondary }};color: {{ textLight }}; }
  .gogo-load-css #directory-content-list .element-list-header .show-as-map-button:hover { color: {{ textLight }} !important; }
  .gogo-load-css #directory-content-list .element-list-header { background-color: {{ background }}; color: {{ primary }}; }
  .gogo-load-css #directory-content-list .element-item .collapsible-header { border-bottom: 1px solid {{ background }} !important; }
  .gogo-load-css #directory-content-list .element-item .inline-option-values .inline-option-value[main-category-owner-name="Sources"] .option-value{ color: {{ text }}; }
  .gogo-load-css #directory-content-list .element-item .location { color: {{ primary }}; }
  .gogo-load-css #directory-list-spinner-loader .spinner-layer { border-color: {{ text }}; }

  {# MAP #}

  .gogo-load-css .leaflet-control-zoom-in, .leaflet-control-zoom-out, .feature-button.gogo-section-controls .gogo-color-link { color: {{ text }} !important; }
  .gogo-load-css .leaflet-control-zoom-in:hover, .leaflet-control-zoom-out:hover, .feature-button.gogo-section-controls .gogo-color-link:hover { color: {{ primary }} !important; }
  .gogo-load-css .show-directory-menu-button { background-color: {{ text }} !important; }
  .gogo-load-css .show-directory-menu-button:hover .arrow-right { border-color: transparent transparent transparent {{ secondary }}; }
  .gogo-load-css .gogo-map-control { background-color: {{ contentBgd }}; color: {{ secondary }}; }

  {# CONTROLS #}
  .gogo-load-css .gogo-theme-transiscope #map-gogo-controls .show-as-list-button { color: {{ secondary }}; }
  .gogo-load-css .gogo-theme-transiscope #gogo-controls-mobile #mobile-filters-icon { background-color: {{ text }}; }
  .gogo-load-css .gogo-theme-transiscope #gogo-controls-mobile .show-as-list-button { color: {{ primary }}; }
  .gogo-load-css .gogo-theme-transiscope #gogo-controls-mobile .show-as-map-button {
    background-color: {{ secondary }} !important;
    color: {{ textLight }};
  }

  {# MENU #}

  .gogo-load-css #directory-menu-main-container .directory-menu-header .btn-close-menu.large-screen .arrow-left { color: {{ secondary }}; }

  {# MENU HEADER #}

  .gogo-load-css .gogo-theme-transiscope .search-bar-with-options-container:not(.mobile) .search-icon { color: {{ textLight }} !important; }
  .gogo-load-css .gogo-theme-transiscope .search-bar-with-options-container:not(.mobile) .search-bar { background-color: {{ primary }} !important; }
  .gogo-load-css .gogo-theme-transiscope .search-bar-autocomplete-result-item.option .icon {
    color: {{ secondary }};
  }
  .gogo-load-css .gogo-theme-transiscope .search-bar-with-options-container:not(.mobile) .search-bar::-webkit-input-placeholder  { color: {{ textLight }} !important; }
  .gogo-load-css .gogo-theme-transiscope .search-bar-with-options-container:not(.mobile) .search-bar::-moz-placeholder  { color: {{ textLight }} !important; }
  .gogo-load-css .gogo-theme-transiscope .search-bar-with-options-container:not(.mobile) .search-bar:-ms-input-placeholder  { color: {{ textLight }} !important; }
  .gogo-load-css .gogo-theme-transiscope .search-bar-with-options-container:not(.mobile) .search-bar:-moz-placeholder { color: {{ textLight }} !important; }

  {# MENU FILTER #}
  .gogo-load-css .subcategorie-option-item.disabled .icon-wrapper { background-color: transparent; }
  .gogo-load-css .subcategorie-option-item.disabled img.icon.svg { {{ disabled | to_css }}; }

  .gogo-load-css .sub-categories-content { background-color: {{ background }} !important; }
  .gogo-load-css .sub-categories-content .subcategorie-option-item { background-color: {{ contentBgd }};  }
  .gogo-load-css .subcategories-wrapper  .subcategory-item { background-color: {{ contentBgd }};  }
  .gogo-load-css .sub-categories-content .subcategorie-option-item.disabled { color: {{ disabled }}; }
  .gogo-load-css .sub-categories-content .subcategorie-option-item.disabled .icon { color: {{ disabled }} !important; }
  .gogo-load-css .sub-categories-content .subcategorie-option-item:not(.expanded) .option-name .arrow-after { border-color: {{ primary }} transparent transparent transparent; }
  .gogo-load-css .sub-categories-content .subcategorie-option-item.expanded .option-name .arrow-after { border-color:  transparent transparent {{ primary }} transparent; }
  .gogo-load-css .sub-categories-content .subcategory-item .checkbox-wrapper [type="checkbox"].filled-in + label:before {
    border-right: 3px solid {{ primary }};
    border-bottom: 3px solid {{ primary }};
  }
  .gogo-load-css .sub-categories-content .subcategory-item .checkbox-wrapper [type="checkbox"].filled-in:not(:checked) + label:before {
    border-right: 3px solid {{ disabled }};
    border-bottom: 3px solid {{ disabled }};
  }
  .gogo-load-css .sub-categories-content .category-wrapper .subcategories-wrapper:not(.no-withdrawal) .subcategorie-option-item.disabled .icon { color: {{ disabled }} !important; }

  .gogo-load-css #main-option-all > .category-wrapper:first-child .name-wrapper { color: {{ primary }}; }
  .gogo-load-css #main-option-all > .category-wrapper:first-child .subcategorie-option-item:not(.disabled) .icon:not(.subcategory-icon) { color: {{ textLight }}; }
  .gogo-load-css #main-option-all > .category-wrapper:first-child .subcategorie-option-item:not(.disabled) img.icon.svg:not(.subcategory-icon) { {{ textLight | to_css }}; }
  .gogo-load-css #main-option-all > .category-wrapper:not(:first-child) .name-wrapper { color: {{ secondary }}; }
  .gogo-load-css #main-option-all > .category-wrapper:not(:first-child) [type="checkbox"].filled-in:checked + label:before {
    border-right: 3px solid {{ secondary }};
    border-bottom: 3px solid {{ secondary }};
  }
  .gogo-load-css #main-option-all > .category-wrapper:not(:first-child) .subcategorie-option-item:not(.disabled) .icon { color: {{ secondary }}; }
  .gogo-load-css #main-option-all > .category-wrapper:not(:first-child) .subcategorie-option-item .icon { color: {{ text }}; background-color: transparent; }
  .gogo-load-css #main-option-all > .category-wrapper:not(:first-child) .subcategorie-option-item:hover .subcategorie-option-checkbox + label:before {
    color: {{ secondary }};
    border-color: {{ secondary }}
  }
  .gogo-load-css #main-option-all > .category-wrapper:not(:first-child) .subcategorie-option-item:not(.expanded) .option-name .arrow-after {
    border-color: {{ secondary }} transparent transparent transparent; opacity: 1;
  }
  .gogo-load-css #main-option-all > .category-wrapper:not(:first-child) .subcategorie-option-item:not(.expanded) .option-name:hover .arrow-after {
    border-color: {{ secondary }} transparent transparent transparent !important; opacity: 1;
  }
  .gogo-load-css #main-option-all > .category-wrapper:not(:first-child) .subcategorie-option-item.expanded .option-name .arrow-after {
    border-color:  transparent transparent {{ secondary }} transparent; opacity: 1; top: 1rem;
  }
  .gogo-load-css #main-option-all > .category-wrapper:not(:first-child) .subcategorie-option-item.expanded .option-name:hover .arrow-after {
    border-color:  transparent transparent {{ secondary }} transparent !important; opacity: 1;
  }
  .gogo-load-css .show-only-container .subcategorie-option-item:not(.checked) .icon:before { color: {{ disabled }} !important }
  .gogo-load-css .show-only-container .subcategorie-option-item:not(.checked) .option-name { color: {{ disabled }} }
  .gogo-load-css #filter-favorite.checked .icon:before { color: #ff8f00 !important }
  .gogo-load-css #filter-favorite.checked .option-name { color: #ff8f00 }
  .gogo-load-css .sub-categories-content .show-only-title { color: {{ primary }}; }

  .gogo-load-css .subcategorie-option-item .elements-by-category-count { background-color: {{ background }}; color: {{ primary }}; }

</style>