.gogo-theme-presdecheznous.gogocarto-container
{
  .show-directory-menu-button .arrow-right {
    display: none;
  }

  .element-item .collapsible-body .category-wrapper .option-value {
    color: inherit;
  }

  .element-item .collapsible-header-more .inline-option-values {
    .icon { display: none; }
    .option-value
    {
      color: inherit;
    }
    .inline-option-value:not(:last-child) {
      &:after { content: ","; margin-right: 5px; }
    }
  }

  .subcategorie-option-item .icon { background-color: transparent; }

  #directory-menu {
    .sub-categories {
      padding-left: 7px;
      padding-right: 4px;
      background-color: #eeeeee;

      .sub-categorie-main-title { letter-spacing: 1.5px;font-size: 1.1rem; }

      .sub-categories-content { @include border-radius(5px); }
    }
  }

  #directory-menu .main-categories {
    .icon.main-icon.fa, .icon.main-icon.fas, .icon.main-icon.fab, .icon.main-icon.far {
      padding-right: 0;
      &.active { padding-left: 5px; }
    }
  }

  .search-bar-container .search-bar
  {
    height: 2.5rem;
    padding-top: 4px;
    padding-left: 3.2rem;
    transition: padding .3s;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    -o-transition: padding .3s;
  }

  .directory-menu-header .search-bar-container .search-icon.search-geolocalize { line-height: 3rem; }
  .directory-menu-header .search-bar-container .search-icon.search-bar-icon {
    position: absolute;
    font-size: 1.2rem;
    left: auto;
    color: white;
    height: 2.5rem;
    padding: 0 .6rem;
    border-radius: 5px 0px 0 5px;
    line-height: 2.8rem;
    &.loading
    {
      padding: 0 1.2rem;
    }
  }
  @media (min-width: 850px) { .search-bar-container {
    padding-left: 6px;
  } }

  .directory-menu-header .search-bar-container
  {
    #search-spinner-loader
    {
      top: 10px;
      left: 8px;
    }
  }

  #directory-menu .main-categories { width: 3.8rem;position: relative; }
  #directory-menu .main-categories .main-gogo-icon-background {
    position: absolute;
    top: .6rem;
    border-radius: 5px 0 0 5px;
    left: 5px;
    height: 3.3rem !important;
    margin-top: 1px;
    width: auto !important;
    right: 0;
  }
  #directory-menu.small-width .main-categories .main-gogo-icon-background {
    left: 0;
    height: 3rem !important;
    margin-top: 3px;
  }
  #directory-menu .main-categories .icon:before { left: 1.1rem; }
  #directory-menu .main-categories .icon.active:before { left: 1.3rem; }
  #directory-menu.small-width .main-categories .icon.active:before { left: .8rem; }
  #directory-menu #main-option-gogo-icon-all { padding-right: 0px !important; padding-left: 0px; }
  #directory-menu #main-option-gogo-icon-all.active { padding-left: 7px; }
  #directory-menu.small-width #main-option-gogo-icon-all { padding-right: 2px !important; padding-left: 0px; }
  #directory-menu.small-width #main-option-gogo-icon-all.active { padding-left: 0px; }

  .element-item .info-bar-divider {
    background-color: transparent !important;
    background-image: linear-gradient(to right, #6b7e9b 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 6px 2px;
    background-repeat: repeat-x;
    margin-top: 1rem;
  }
  .element-item .sectionOpenHours .openHours { font-size: .95rem; }
  .element-item .collapsible-body .category-wrapper .option-value.inline .icon { display: none; }
  .element-item .collapsible-body .category-wrapper .option-value.inline { font-style: normal !important; }

  .gogo-load-css .marker-icon.icon-ruche { line-height: 22px !important; }
  .gogo-load-css .icon-ruche { padding-top: 0 !important; }

  .gogo-load-css .icon.gogo-icon-star-full { padding-top: 2px !important; }
  .gogo-load-css .icon.gogo-icon-star-full:before { color: #cc8901; background-color: transparent }

  .gogo-load-css .gogo-map-control { border: 1px dashed transparent; border-color: #a5a5a5; }

}