<div class="filter-area-wrapper">

  <div class="filter-area-input-container filter-area-input-container-{{filter.id}}">
    <input type="text" class="filter-area-input filter-area-input-{{filter.id}}" name="filter-area-{{filter.id}}" data-filter-id="{{filter.id}}" />
    <input type="hidden" class="filter-area-results filter-area-results-{{filter.id}}" />
  </div>

</div>
