<div class="filter-value-wrapper">

  <div class="filter-value-input-container filter-value-input-container-{{filter.id}}">

  {% if filter.subtype == "autocompletion" %}

    <input type="text" class="filter-value-input filter-value-input-{{filter.id}}" name="filter-value-{{filter.id}}" data-filter-id="{{filter.id}}" />
    <input type="hidden" class="filter-value-results filter-value-results-{{filter.id}}" />

  {% elif filter.subtype == "dropdown" %}

    <select class="filter-value-input filter-value-select filter-value-input-{{filter.id}}" name="filter-value-{{filter.id}}" data-filter-id="{{filter.id}}">
      <option>{{ config.i18n[config.language]['choose.a.value'] }}</option>
    </select>

  {% endif %}

  </div>

</div>

