{# Section title #}

  <li class="subcategory-item expanded unexpandable top-separator show-only-title">
    <div class="name-wrapper">
      <span class="name">{{ 'geojson.layers' | i18n }}</span>
    </div>
  </li>

<div class="options-wrapper show-only-container">

  {% for optionnalGeojsonLayer in config.map.optionnalGeojsonLayers %}
  
    <li class="subcategorie-option-item row tooltipped filter-geojson" id="filter-geojson-{{loop.index}}" data-position="right" data-delay="700" data-tooltip="{{ 'geojson.layers' | i18n }}" data-url="{{ optionnalGeojsonLayer.url }}">
      <span class="icon gogo-icon-layers"></span>
      <span class="option-name">{{ optionnalGeojsonLayer.name }}</span>

      {# --- CHECKBOX ---- #}
      <div class="checkbox-wrapper">
        <div class="checkbox-container">
          <input type="checkbox" class="subcategorie-option-checkbox geojson-checkbox show-unique-checkbox" id="geojson-checkbox-{{loop.index}}" data-type='geojson' data="geojson" />
          <label for="geojson-checkbox" ></label>
        </div>
      </div>
    </li>
    
  {% endfor %}
  
</div>