#directory-menu {
  .filter-area-input-container {
    padding: 0 8px;
    .filter-area-input {
      width: calc(100% - 25px);
      padding: 0 8px;
      background-color: rgb(240,240,240);
      border-radius: 4px;
    }
  }
  .area-filter-results-container {
    border: 1px solid lightgray;
    border-top: none;
    max-width: 97%;
    cursor: pointer;
    .area-filter-results-inner-container {
      padding: 4px 0;
      .area-filter-results-name {
        display: flex;
        .icon {
          float: none;
          margin: 0 0.3rem;
          padding: 0;
        }
      }
      .area-filter-results-meta {
        font-style: italic;
        margin-top: -6px;
        padding: 0 .3rem;
      }
    }
    &:hover, & .ui-state-active  {
      background-color: rgba(125, 125, 125, 0.08);
    }
    &.no-results {
      pointer-events: none;
      .area-filter-results-message {
        padding: 8px;
      }
    }
  }
}