.subcategory-item.filter
{
  .btn-clear-filter
  {
    display:none;
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: .8rem;
    line-height: 1rem;
    padding-top: 1px;
    border-radius: 2px;
    text-transform: capitalize;
    top: 1rem;
    cursor: pointer;
    background-color: #f44336a6;

    .gogo-icon-close {
      margin: 0 2px;
      margin-top: 2px;
      float: right;
    }
  }

  .name-wrapper {
    margin-right: 0;
    .name p { 
      margin: 0; 
      display: inline;
    }
  }
}

.filter-wrapper {
  input {
    height: 2rem;
  }
}

.filter-header, .filter-paragraph {
  padding-left: .6rem;
  padding-right: .4rem;
}
.filter-header h1 {
  font-size: 2rem;
  font-weight: bold;  
}
.filter-header h2 {
  font-size: 1.8rem; 
}
.filter-header h3 {
  font-size: 1.5rem;
}