.gogo-date-filter {
  td, th { padding: 0; }
  thead { border: none; }

  .datepicker table tr td span.month, .datepicker table tr td span.year {
    width: 19%;
    height: auto;
    line-height: 45px;
    margin: 2% 3% 1% 3%;
  }
  .datepicker-inline {
    width: 100%;
    padding: 0 15px 0 5px;
  }
  .input-daterange .range-container {
    display: flex;
    padding: 0 15px 0 5px;
  }

  .input-group-addon {
    min-width: auto;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: .3rem 10px 14px 10px;
  }
  input {  height: 2rem; }

  .view-selection {
    display: flex;
    display: flex;
    margin-bottom: 8px;
    margin-right: .6rem;
    margin-left: .6rem;
    .view-type {
      border: 1px solid #ddd;
      &:not(:last-child) { border-right: none; }
      &:first-child { border-radius: 3px 0 0 3px; }
      &:last-child { border-radius: 0 3px 3px 0; }
      flex-grow: 1;
      text-align: center;
      line-height: 1.5rem;
      cursor: pointer;
      background-color: white;
      &.active { border: 1px solid #ccc; border-right: none;}
    }
  }
  .view-filter {

    display: none;
    &[data-name=month], &[data-name=year] {
      .day { border-radius: 0; }
      tbody:hover .day:not(.new):not(.old) { background-color: #eeeeee; }
      .datepicker-days { opacity: 0; }
    }

    &[data-name=year] {
      .month { border-radius: 0; }
      tbody:hover .month:not(.new):not(.old) { background-color: #eeeeee; }
      .datepicker-months { opacity: 0; }
    }

    &[data-name=week] {
      .day {
        border-radius: 0;
        &:first-child { border-radius: 3px 0 0 3px; }
        &:last-child { border-radius: 0 3px 3px 0; }
        &:hover { background-color: transparent }
      }
      .datepicker-days tbody tr:not(.selected-week):hover {
        background-color: #eeeeee;
      }
      td.today, td.active {
        color: inherit !important;
        background-color: transparent !important;
      }
    }

    &:not([data-name=range]) {
      margin-bottom: .5rem;
    }

    .datepicker .day.has-event,
    .datepicker .month.has-event,
    .datepicker .year.has-event {
      position: relative;
    }
    .datepicker .day.has-event:after,
    .datepicker .month.has-event:after,
    .datepicker .year.has-event:after {
      position: absolute;
      content: '⬤';
      font-size: 4px;
      margin-left: 1px;
      color: $primary-color;
    }
    .datepicker .month.has-event:after,
    .datepicker .year.has-event:after {
      margin-left: 2px;
      margin-top: -5px;
    }
    .datepicker .year.has-event:after {
      margin-left: 1px;
      margin-top: -7px;
    }
  }
}

