#directory-menu {
  .filter-value-input-container {
    padding: 0 8px;
    .filter-value-input, .filter-value-select {
      box-sizing: content-box;
      width: calc(100% - 25px);
      padding: 0 8px;
      background-color: rgb(240,240,240);
      border-radius: 4px;
    }
    .filter-value-select {
      height: 32px;
      margin-bottom: 15px;
      cursor: pointer;
      option {
        cursor: pointer;
      }
    }
  }
  .value-filter-results-container {
    border: 1px solid lightgray;
    border-top: none;
    max-width: 97%;
    cursor: pointer;
    .value-filter-results-inner-container {
      padding: 4px 0;
      .value-filter-results-name {
        display: flex;
        align-items: center;
        .icon {
          display: flex;
          float: none;
          margin: 0 0.3rem;
          padding: .3rem 0;
        }
      }
      .value-filter-results-meta {
        font-style: italic;
        margin-top: -6px;
        padding: 0 .3rem;
      }
    }
    &:hover, & .ui-state-active  {
      background-color: rgba(125, 125, 125, 0.08);
    }
    &.no-results {
      pointer-events: none;
      .value-filter-results-message {
        padding: 8px;
      }
    }
  }
}