/*
* @Author: Sebastian Castro
* @Date:   2017-03-02 08:57:20
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2018-07-04 17:11:15
*/

.sub-categories-content.no-top-divider > ul > .main-option-subcategories-container
{
  & > .category-wrapper > .subcategory-item
  {
    border-top: none !important;
	  margin-top: 0 !important;
  }
}

.category-wrapper
{
  margin-top: .5rem;
}

.subcategory-item
{
  position: relative;
  line-height: 3rem;
  padding-top: 0;
  padding-left: .8rem;
  font-weight: bold;
  font-size: 90%;
  text-transform: uppercase;

  &.top-separator
  {
    border-top: 2px dashed;
    margin-top: .3rem;
    padding-top: .5rem;
  }

  .name-wrapper
  {
  	margin-right: 3rem;
  	height: 3rem;
    overflow: hidden;

  	.arrow-after
		{
			display: inline-block;
	    margin-left: 1rem;
	    margin-bottom: 1px;
	    border: solid 5px;
      border-radius: 4px;
	  }

	  &:hover { cursor: pointer; }
  }

  &:not(.expanded) .arrow-after { margin-bottom: -3px !important; }
  &.expanded:not(:hover) .arrow-after { display: none }

  &.unexpandable
  {
  	.name-wrapper:hover
  	{
  		cursor: default;
  		color: inherit;
  	}
  }

  .checkbox-wrapper
	{
		width: 3rem;
		position: absolute;
    right: 0;
    top: 2px;
    bottom: 0;

    &:hover { cursor: pointer; }

		.checkbox-container
		{
	    position: absolute;
	    top: 2px;
    	right: 0px;

	    .subcategorie-checkbox
			{
				+ label:after
				{
					top: 9px !important;
			    width: 17px;
			    height: 17px;
			    border: 2px solid ;
			    @include transition(all .3s);
				}

				+ label:before
				{
					top: 9px;
			    left: 1px;
			    width: 6px;
			    height: 11px;
				}

				&:not(:checked) + label:after
				{
					background-color: transparent;
				}
			}
		}
	}
}