.simple-modal.modal
{
  z-index: 2000;
  max-width: 1200px;
  top: 30% !important;
  max-height: 80%;
  height: auto;
  position: absolute !important;

  h5 { margin-bottom: .5rem; }

  .modal-content
  {
    padding-bottom: .8rem !important;

    .modal-error-msg
    {
      display: none;
      color: $error-color;
    }
  }

  .modal-footer
  {
    padding-right: 2.5rem;

    .modal-action
    {

      color: white;
      font-size: .9rem;
      padding: 0 25px;

      &.btn
      {
        background-color: #de5a5f;
        &:hover{ background-color: #ec787d }
      }
    }
  }

  .input-simple-modal
  {
    &:focus
    {
      border-color: $secondary-color;
      box-shadow: none;
    }

    &::selection {
      background-color: $secondary-color;
        color: white;
    }
    &::-moz-selection {
      background-color: $secondary-color;
        color: white;
    }
  }
}

.page-modal .btn-back
{
  float: left;
  font-size: 2rem;
  line-height: 4rem;
  padding: 0 2rem;
  margin-left: -2rem;
}

// vote and report-error modals
.modal.action-modal
{
  h5
  {
    text-align: center;
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
  }

  label.small-label
  {
    display: block;
    font-size: .85rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: -1.8rem;
  }

  .elementName
  {
    font-style: italic;
    font-size: 1.5rem;
  }

  .error
  {
    display:none;
    color: $error-color;
  }

  .option-radio-label
  {
    margin-top: .5rem;
    display: block !important;
    height: auto !important;
  }

  .cancel-btn
  {
    display: none;

    .preloader-wrapper
    {
      height: 15px;
      width: 15px;
      top: 1px;
      .spinner-layer { border-color: white; }
      .circle-clipper .circle { border-width: 2px; }
    }
  }

  .loader-overlay
  {
    display: none;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #000000;
    opacity: 0.35;
  }
}

#modal-iframe
{
  .subtitle
  {
    text-align: center;
    font-style: italic;
    margin-bottom: 1.5rem;
  }

  label {
    font-size: .8rem ;
    &:not(:last-child) { margin-bottom: 15px; }
    strong { font-weight: bold; }
    width: 100%;
  }

  .iframe-input
  {
    width: 80px;
    height: 2rem;
    font-size: .9rem;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 1rem;
    text-align: center;
  }

  #iframe-code
  {
    width: 100%;
    padding: 1rem;
    background-color: #f1f1f1;
    @include border-radius(5px);
    box-shadow: none;
    font-family: "Lucida Console", Monaco, monospace;
    border: 1px dashed #c1c1c1;
    margin-bottom: 1rem;
  }
}

#modal-image
{
  width: 90%;

  .modal-content {
    padding: 0;
    overflow: auto;
    height: calc(100% - 52px);
    text-align: center;
  }

  img { max-width: 100%; object-fit: scale-down;}

}