<div id="gogo-controls-mobile">
  {% if config.isFeatureActivated('searchPlace') or config.isFeatureActivated('searchElements') or config.isFeatureActivated('searchCategories') %}
    <div id="mobile-search-icon" class="feature-button gogo-section-primary leaflet-bar"><i class="gogo-icon-search"></i></div>
  {% endif %}
  <div id="mobile-filters-icon" class="feature-button leaflet-bar gogo-primary gogo-section-controls {{ 'with-image' if config.images.buttonOpenMenu else ''}}">
    {% if config.images.buttonOpenMenu %}
      <img src="{{ config.images.buttonOpenMenu }}" />
    {% endif %}
    <i class="gogo-icon-filters-1"></i>
  </div>
  {% if config.isFeatureAvailable('listMode') %}
    <div class="show-as-list-button feature-button gogo-section-controls leaflet-bar">
      <i class="gogo-icon-list"></i>
    </div>
  {% endif %}
  <div class="show-as-map-button feature-button gogo-section-controls leaflet-bar"><i class="gogo-icon-map"></i></div>
</div>