{% extends "components/modals/abstract-modal.html.njk" %}

{% block submitText %}{{ 'delete' | i18n }}{% endblock %}

{% block id %}delete{% endblock %}

{% block content %}
	<h5 id="modal-title">{{ 'delete' | i18n }}<span class="elementName"></span> ?</h5>
	<p>{{ 'email.will.be.sent.to' | i18n }}{{ 'element.definite' | i18n }}</p>	
	
	<p id="select-error" class="error"></p>

	<div class="input-field">
		<textarea class="input-comment materialize-textarea" type="text" placeholder="Message optionnel explicatif"></textarea>
	</div>		
{% endblock %}