{% extends "components/modals/abstract-modal.html.njk" %}

{% block submitText %}{{ 'report'|i18n }}{% endblock %}

{% block id %}report{% endblock %}

{% block content %}
	<h5 id="modal-title">{{ 'report.error.regarding'|i18n }} <span class="elementName"></span></h5>
	<p>{{ 'what.error.to.report'|i18n }}</p>	 

	<p id="select-error" class="error">{{ 'select.type.error'|i18n }}</p>

	<input class="option-radio-btn "value="0" name="report-error" type="radio" id="report1"/>
	<label class="option-radio-label" for="report1">{{ 'element.no.longer.exists' | i18n | capitalize }}</label>

	<input class="option-radio-btn "value="1" name="report-error" type="radio" id="report2"/>
	<label class="option-radio-label" for="report2">{{ 'not.correct.informations'|i18n }}</label>

	<input class="option-radio-btn "value="2" name="report-error" type="radio" id="report3"/>
	<label class="option-radio-label" for="report3">{{ 'element.definite' | i18n | capitalize }} {{ 'does.not.respect.charter' | i18n | lower }}</label>

	<input class="option-radio-btn "value="4" name="report-error" type="radio" id="report4"/>
	<label class="option-radio-label" for="report4">{{ 'element.definite' | i18n | capitalize }} {{ 'duplicate.on.map'|i18n }}</label>

	<p id="mail-error" class="error" style="margin-bottom: -15px;">{{ 'enter.valid.email'|i18n }}</p>
	<div class="input-field" >
		<input class="input-mail validate" type="email" placeholder="{{ 'your.email'|i18n }}" style="margin-bottom: 0">
	</div>

	<div class="input-field">
		<input class="input-comment" type="text" placeholder="{{ 'placeholder.input.comment.administration'|i18n }}"/>
	</div>
{% endblock %}