<div id="modal-share-element" class="modal simple-modal">
  <div class="modal-content gogo-section-content">
    <h5 id="modal-title">{{ 'share.link' | i18n }}</h5>
    <input type="text" class="input-simple-modal" />
    <span class="modal-more-info"></span>
  </div>  
  <div class="modal-footer gogo-bg-soft-color-as">
    <span class="modal-action gogo-bg-neutral modal-copy waves-effect waves-light btn-flat">{{ 'copy.link' | i18n }}</span>
    <span class="modal-action gogo-bg-neutral modal-close waves-effect waves-light btn-flat">{{ 'close' | i18n }}</span>
  </div> 
</div>

<script>
  $(document).ready(function() {
    const $modal = $('#modal-share-element');
    const $modalCopyButton = $modal.find('.modal-copy');
    const $modalInput = $modal.find('.input-simple-modal');
    const $modalMessage = $modal.find('.modal-more-info');
    const copyToClipBoard = () => {
      const textToCopy = $modalInput.val();
      navigator.clipboard.writeText(textToCopy).then(
        function() {
          $modalMessage.removeClass('error');
          $modalMessage.text("{{ 'copy.to.clipboard' | i18n }}")
        },
        function(err) {
          $modalMessage.addClass('error');
          $modalMessage.text("Failed to copy text: " + err.message)
        }
      );
    }
    $modalCopyButton.on('click', copyToClipBoard);
    $modalInput.on('click', copyToClipBoard);
    $modal.on('show', () => { $modalMessage.text("") });
  });
</script>
