{% extends "components/modals/abstract-modal.html.njk" %}

{% block submitText %}{{ 'subscribe'|i18n }}{% endblock %}
  
{% block id %}subscribe-element{% endblock %}

{% block content %}

  <h5 id="modal-title">{{ 'subscribe.changes' | i18n }} <span class="elementName"></span></h5>
  
  <p id="message-error" class="error">{{ 'error.occured' | i18n}}</p>   
  
  <p id="mail-error" class="error" style="margin-bottom: -15px;">{{ 'enter.valid.email'|i18n }}</p>
  <div class="input-field" >
    <input class="input-mail validate" type="email" placeholder="{{ 'your.email'|i18n }}" style="margin-bottom: 0">
  </div>

{% endblock %}
